.activityButton {
    margin-bottom: 2%;
    margin-top: 2%;
}

.activityButton button {
    margin-right: 3%;
}

.dataButton button {
    margin-right: 3%;
    margin-bottom: 2%;
}

.role {
    font-size: 1.2rem;
}

.roleText {
    margin-bottom: 2%;
}


